# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out

# Build
dist
build

# Debug
npm-debug.log*
.pnpm-debug.log*

# Local env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE / OS
.idea
.vscode
.DS_Store
*.swp
*.swo

# Testing
coverage
.nyc_output

# Misc
*.pem
